<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <div class="row">
      <h2 class="pagetitle"><i class="fas fa-book-reader"></i><%= '  ' %>Review Detail</h2>
    </div>
    <div class="row">
      <h4 class="text-white">映画レビューの詳細です。</h4>
    </div>
      <%= flash[:notice] %>
</nav>

    <div class="row mt-4 text-right">
      <div class="col-md-11">
        <%= link_to "Reviewへ", comment_path(current_customer), class: 'btn btn-dark btn-md' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-6">
        <table class="table table-dark text-center mt-3">
          <thead class="text-left">
            <tr>
              <th style="width: 30%">
                <h4>
                  レビューをした日
                </h4>
              </th>
              <th style="width: 70%">
                <h4>
                  <%= @comment_detail.created_at %>
                </h4>
              </th>
            </tr>
          </thead>
          <tbody class="text-left">
            <tr>
              <th>
                <h4>
                  感想レビュー
                </h4>
              </th>
              <td>
                <h5>
                　<%= @comment_detail.comment %>
                </h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3"></div>
    </div>
  </div>