<%= flash[:notice] %>
<div class="container">
  <%= image_tag 'felix-mooneeram-evlkOfkQ5rE-unsplash.jpg', width: '50%', height: '50%'  %>
  <h4 class="row mt-4 bg-light">マイページ(ログイン後⇨会員トップ画面)</h4>
  <div class="row">
    <table width="250" height="75">
      <tr>
        <td><h4><strong>登録情報</strong></h4></td>
        <th>
        <%= link_to "編集するボタン", edit_customer_path(current_customer), class: 'btn btn-success nav-link' %>
        </th>
      </tr>
    </table>
  </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>氏名</th>
          <th><%= @customer.name %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.name_kana %></td>
        </tr>
<!--        <tr>-->
<!--          <th>郵便番号（ハイフンなし）</th>-->
<!--          <td><%= @customer.postal_code %></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>住所</th>-->
<!--          <td><%= @customer.address %></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>電話番号</th>-->
<!--          <td><%= @customer.telephone_number %></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>メールアドレス</th>-->
<!--          <td><%= @customer.email %></td>-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    あなたの観た映画の本数（いいね機能でいいねした数をここに表示）　___本-->

<!--    あなたがお気に入りした映画（いいね機能でいいねした数をここに表示）　___本-->

<!--  <div class="row">-->
<!--    <table width="250" height="75">-->
<!--      <tr>-->
<!--        <td><h4><strong>あなたの観た映画</strong></h4></td>-->
<!--        <th><%= link_to "一覧を見る", customer_path, class: 'btn btn-primary nav-link' %></th>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <table width="300" height="75">-->
<!--      <tr>-->
<!--        <td><h4><strong>あなたがお気に入りした映画</strong></h4></td>-->
<!--        <th><%= link_to "一覧を見る", customer_path, class: 'btn btn-primary nav-link' %></th>-->
<!--      </tr>-->
<!--    </table>-->
<!--</div>-->
