<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <h2 class="pagetitle"><i class="fas fa-user"></i>My Page</h2><h2><%= @customer.name %></h2>
<%= flash[:notice] %>
</nav>

    <div class="row justify-content-md-center mt-4">
      <h4><%= image_tag @customer.get_profile_image(100,100) %></h4>
    </div>
    <div class="row mt-5">
      <div class="col-2"></div>
      <div class="col-4">
      PROFILE
        <table class="table table-border text-center">
          <thead>
            <tr>
              <th><h4>氏名</h4></th>
              <th><h4><%= @customer.name %></h4></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><h4>フリガナ</h4></th>
              <th><h4><%= @customer.name_kana %></h4></th>
            </tr>
            <tr>
              <th><h4>郵便番号</h4></th>
              <th><h4><%= @customer.postal_code %></h4></th>
            </tr>
            <tr>
              <th><h4>住所</h4></th>
              <th><h4><%= @customer.address %></h4></th>
            </tr>
            <tr>
              <th><h4>電話番号</h4></th>
              <th><h4><%= @customer.telephone_number %></h4></th>
            </tr>
            <tr>
              <th><h4>メールアドレス</h4></th>
              <th><h4><%= @customer.email %></h4></th>
            </tr>
            <tr>
              <th></th>
              <th><h4><%= link_to "編集する", edit_customer_path(current_customer), class: 'btn btn-light nav-link' %></th>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-4">
        IMPRESSION
        <table class="table text-center">
          <thead>
            <tr>
              <th><h4>Best Movie</h4></th>
              <th><h4><%= @customer.email %></h4></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><h4>Recommend Movie<h4></th>
              <th><h4><%= @customer.email %><h4></th>
            </tr>
            <tr>
              <th></th>
              <th><h4><%= link_to "編集する", edit_customer_path(current_customer), class: 'btn btn-dark nav-link' %></h4></th>
            </tr>
          </tbody>
        </table>

        IMPRESSION
        <table class="table text-center">
          <thead>
            <tr>
              <th><h4>Best Movie</h4></th>
              <th><h4><%= @customer.email %></h4></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><h4>Recommend Movie<h4></th>
              <th><h4><%= @customer.email %><h4></th>
            </tr>
            <tr>
              <th></th>
              <th><h4><%= link_to "編集する", edit_customer_path(current_customer), class: 'btn btn-dark nav-link' %></h4></th>
            </tr>
          </tbody>
        </table>

        IMPRESSION
        <table class="table text-center">
          <thead>
            <tr>
              <th><h4>Best Movie</h4></th>
              <th><h4><%= @customer.email %></h4></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><h4>Recommend Movie<h4></th>
              <th><h4><%= @customer.email %><h4></th>
            </tr>
            <tr>
              <th></th>
              <th><h4><%= link_to "編集する", edit_customer_path(current_customer), class: 'btn btn-dark nav-link' %></h4></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
