<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <div class="row">
      <h2 class="pagetitle"><i class="fas fa-pen-square"></i>PICK UP NEWS LIST</h2>
    </div>
    <div class="row">
      <h4 class="text-white">これまでのニュースの一覧です。</h4>
    </div>
      <%= flash[:notice] %>
</nav>


    <div class="row mt-4 text-right">
      <div class="col-1"></div>
      <div class="col-md-10">
          <table class="table table-bordered text-center">
            <thead class="thead-dark">
              <tr>
                <th style="width: 15%"><h4>追加日時</h4></th>
                <th style="width: 15%"><h4>タイトル</h4></th>
                <th style="width: 70%"><h4>内容</h4></th>
              </tr>
            </thead>
           <% @messages.each do |me| %>
            <tbody>
              <tr>
                <td><%= link_to me.created_at, message_path(me) %></td>
                <td><%= me.title %></td>
                <td><%= me.information %></td>
              <tr>
            </tbody>
            <% end %>
          </table>
          <%= paginate @messages %>
        </div>
      <div class="col-1"></div>
    </div>

