<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <h2 class="pagetitle"><i class="fas fa-pen-square"></i>PICK UP NEWS <%= @message.created_at %></h2>
<%= flash[:notice] %>
</nav>
    <div class="row mt-5">
        <div class="col-3"></div>
          <div class="col-3">
            <h4>投稿日：<%= @message.created_at %></h4><br>
            <h4>題名：<%= @message.title %></h4><br>
            <h4>本文：<%= @message.information %><br>
          </div>
    </div>
    <div class="row mt-5">
      <div class="col-3"></div>
        <div class="col-3">
        <h4>
        <%= link_to "◀︎◀︎Home", root_path, class: "btn badge-light btn-md" %>
        <%= link_to "◀︎PICK UP NEWS LIST", messages_path, class: "btn badge-light btn-md" %>
        </h4>
        </div>
    </div>

