<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <div class="row">
      <h2 class="pagetitle">
        <i class="fas fa-search"></i><%= '  ' %>Search
      </h2>
    </div>
    <div class="row">
      <h4 class="text-white">映画を検索できます。</h4>
    </div>
      <%= flash[:notice] %>
</nav>

    <h2 class="row justify-content-md-center text-center">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Let's Search the Movies!!
          </p>
            <%= image_tag 'about1.png', class:"Searchimag" %>
             <%= @title %>
        </div>
        <div class="card-body">
          <p class="card-text">
            ↓Check the Movies!↓
          </p>
        </div>
      </div>
    </h2>

    <div class="row mt-3 justify-content-md-center">
      <%= form_tag(movies_path, method: :get) do %>
        <%= search_field_tag :looking_for, nil, placeholder: 'Movie Title..' %>
        <%= submit_tag '検索する' %>
      <% end %>
    </div>

    <div class="row justify-content-md-center">
      <%if params[:looking_for].present? %>
      　<h2 class="row mt-5 text-center">
          <% movieinfo = JSON.parse((Tmdb::Search.movie(params[:looking_for])).to_json) %>
          <%= params[:looking_for] %>の検索結果<br>
          ===================================================
    　　</h2>
    </div>
    <div class="row justify-content-md-center text-center text-white">
          <% i = 0 %>
            <% while i < movieinfo['table']['results'].count %>
              <div class="card mt-3 mx-3 bg-dark">
                <div class="text-center mt-4 text-white">
                  <%if movieinfo['table']['results'][i]['table']['title'].present?%>
                    <%= link_to movieinfo['table']['results'][i]['table']['title'].truncate(17),  movie_path(movieinfo['table']['results'][i]['table']['id']),class: "text-white"%>
                  <%end%>
                  <% if movieinfo['table']['results'][i]['table']['release_date'].present? %>
                    <p class="release-date">
                      <%= movieinfo['table']['results'][i]['table']['release_date'] %>
                    </p>
                  <%end%>
                </div>
                  <% if movieinfo['table']['results'][i]['table']['poster_path'].present? %>
                    <p>
                      <%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieinfo['table']['results'][i]['table']['poster_path'], class: "card-img" %>
                    </p>
                  <%end%>
              </div>
              <% i += 1%>
            <%end%>
          </div>
        <%else%>
    </div>

    <h2 class="row mt-5 justify-content-md-center text-center">
      Trend<br>
      ==============================================
    </h2>
    <div class="row justify-content-md-center mt-3">
    <% movieinfo = JSON.parse((Tmdb::Movie.popular).to_json) %>
    <% i = 0 %>
      <% while i < movieinfo['table']['results'].count %>
         <div class="card mt-3 mx-3 bg-dark">
            <div class="text-center mt-4 text-white">
              <%if movieinfo['table']['results'][i]['table']['title'].present?%>
                <%= link_to movieinfo['table']['results'][i]['table']['title'].truncate(17), movie_path(movieinfo['table']['results'][i]['table']['id']), class: "text-white"%><br>
              <%end%>
              <% if movieinfo['table']['results'][i]['table']['release_date'].present? %>
                <p class="release-date">
                <%= movieinfo['table']['results'][i]['table']['release_date'] %>
              <%end%>
            </div>
              <% if movieinfo['table']['results'][i]['table']['poster_path'].present? %>
                <%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieinfo['table']['results'][i]['table']['poster_path'], class: "card-img"%>
              <%end%>
         </div>
        <% i += 1%>
      <%end%>
      </div>
      <%end%>
    <div class="col"></div>
  </div>
</div>
