<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <div class="row">
      <h2 class="pagetitle"><i class="fas fa-eye"></i>Show</h2>
    </div>
    <div class="row">
      <h3 class="text-white"><%= @movie[:tagline] %></h3>
    </div>
      <%= flash[:notice] %>
</nav>
    <div class="row mt-3 text-center">
      <div class="col-2"></div>
      <div class="col-3">
        <% if @movie[:poster_path].nil? %>
          <%= "ポスターがありません。" %><br>
        <% else %>
          <%= image_tag 'https://image.tmdb.org/t/p/w1280' + @movie[:poster_path], class: "mt-5 img-thumbnail poster" %><br>
        <% end %>
        <%= link_to "検索一覧へ︎", movies_path, class: "btn badge-light btn-md mt-3" %>
      </div>
      <div class="col-6">
        <table class="table table-striped table-dark text-center mt-2">
          <thead>
            <tr>
              <th style="width: 30%">
                <h4>
                  原題
                </h4>
              </th>
              <th style="width: 70%">
                <h4>
                  <%= @movie[:original_title] %>
                </h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><h4>邦題</h4></th>
              <th><h4><%= @movie[:title] %></h4></th>
            </tr>
            <tr>
              <th>
                <h4>
                  製作年
                </h4>
              </th>
              <th>
                <h4>
                  <%= @movie[:release_date] %>
                </h4>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  あらすじ
                </h4>
              </th>
              <td>
                <h4>
                  <%= @movie[:overview].blank? ? '該当なし' : @movie[:overview] %>
                <h4>
              </td>
            </tr>
            <tr>
              <th>
                <h4>
                  ジャンル
                </h4>
              </th>
              <th>
                <h4>
                  <% @movie[:genres].each do |genres| %>
                    <% if genres[:name].nil? %>
                      <%= 該当なし %>
                    <% else %>
                      <%= genres[:name] %><br>
                    <% end %>
                  <% end %>
                </h4>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  製作会社
                </h4>
              </th>
              <th>
                <% @movie[:production_companies].each do |logo_path| %>
                  <% if logo_path[:logo_path].nil? %>
                    <%= logo_path[:name] %><br>
                  <% else %>
                    <%= image_tag 'https://image.tmdb.org/t/p/w1280' + logo_path[:logo_path], class: "img-thumbnail width d-block mx-auto" %>
                  <% end %>
                <% end %>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  公式ホームページ
                </h4>
              </th>
              <th>
                <h4>
                  <%= @movie[:homepage].blank? ? '該当なし' : @movie[:homepage] %>
                </h4>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
<%#= debug @movie %>