<%= flash[:notice] %>
      <nav class="navbar navbar-dark" style="background-color:#696969">
        <div class="container">
          <div class="pagetitle">About</div>
      </nav>
          <div class="row mt-5">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">
              <%= image_tag 'Cinemaneko.png' %><br>
              <%= image_tag 'Cinemaneko.png' %>
            </div>
            <div class="col-lg-4">
<p class="text-center">映画の海へ飛び込もう！このサイトは、電子版の映画ノートとして使えます。<br>
自身の映画生活を記録しながら、映画作品を選べる素敵なレビューサイトです。</p>
<p class="text-center">映画の中には、気分を高めたい時に見る映画、<br>もしくは落ち込んだ時にその思いにふける映画もあります。</p>
<p class="text-center">製作者である私もそのような映画が大好きです。</p>
<p class="text-center">私にとって日常生活の中にある映画は、自身の活力を与え、<br>精神を癒す素敵な娯楽だと考えます。</p>
<p class="text-center">映画のログを記録をすることは、<br>日々の出来事を記録することと同じことだと思います。</p>
<p class="text-center">映画ノートを自身で作成することは良いことですが、なかなか長続きしないことがありますので、<br>
電子版の映画ノートを作成しました。</p>
<p class="text-center">同時にC-Logを使う会員の人がどのような作品がお気に入りで、<br>オススメの作品なのかを知ることができますので映画を選ぶ参考にしていただくこともできます。</p>
<p class="text-center">過去を振り返ることも、まだ見ぬ映画作品を探すことのできる映画ノートを制作したく、<br>
このテーマを選びました。</p>
<p class="text-center">しかし、映画の中で挿入される音楽は観る人がその場で感じることができ、<br>感覚で映画を知ることができるのではないかと考えました。</p>
<p class="text-center">このサイトには、監督名、作成年、また受賞履歴、<br>いいね機能などの最低限の情報のみ掲示しています。</p>

<p class="text-center"> 私は映画がとても好きで、</p>
<p class="text-center">映画の中には、気分を高めたい時に見る映画、<br>もしくは落ち込んだ時にその思いにふける映画もあります。</p>
<p class="text-center">どのような映画も視聴者のレビューだけでは個人差があり、<br>またあらすじを知ってしまうにはネタバレなどがあります。</p>
<p class="text-center">しかし、映画の中で挿入される音楽は観る人がその場で感じることができ、<br>感覚で映画を知ることができるのではないかと考えました。</p>
<p class="text-center">このサイトには、監督名、作成年、また受賞履歴、<br>いいね機能などの最低限の情報のみ掲示しています。</p>




もし詳しく知りたい場合は、公式サイトのリンクなどもありますので、参照してください。
現在私たちがよく聴くような有名な音楽のテーマは、実際にその映画をうまく演出していたり、映画自体の興行収入も高いと考えます。
その映画を象徴する楽曲を感じながら、映画を選ぶという、今までにない映画の楽しみ方を感じてもらうためにこのアプリを作成しました。
ぜひ使用してください。            </div>
          </div>
          <div class="row mt-5">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
              <%= image_tag 'Cinemaneko.png' %>
            </div>
            <div class="col-sm-4">
              <%= image_tag 'museum.jpg' %>
            </div>
          # <C-Log(シーログ)>
                     ## サイト概要
                     ### デジタル版×映画×航海日誌です。自分の映画作品のログブックとして活用できます。選べる素敵なレビューサイトです。
                     <...>


<...>

### ターゲットユーザ
<...>全年齢対象

### 主な利用シーン
<...>映画を気ままに選びたいとき、あらすじのネタバレや、レビューなどを気にせず感覚で選びたいとき。

## 設計書
<...>

## 開発環境
- OS：Linux(CentOS)
- 言語：HTML,CSS,JavaScript,Ruby,SQL
- フレームワーク：Ruby on Rails
- JSライブラリ：jQuery
- IDE：Cloud9

## 使用素材
- 外部サービスの画像素材・音声素材を使用した場合は、必ずサービス名とURLを明記してください。
- 使用しない場合は、使用素材の項目をREADMEから削除してください。

### 実装機能リスト（スプレッドシート）のURL

https://docs.google.com/spreadsheets/d/1F92O2MiJ7DGha5YNeuFrgH3s0x_HeOs-X90puZcAbeY/edit#gid=1091086188

    </div>
</div>
