<%= flash[:notice] %>
  <div class="container">

    <div class="row">
      <div class="slider">
        <%= image_tag 'museum.jpg'  %>
        <%= image_tag 'lady.jpg'    %>
        <%= image_tag 'popcorn.jpg' %>
        <%= image_tag 'monoqro.jpg' %>
      </div>
    </div>

    <div class="row mx-auto">
      <div class="col">
        <h2 class="text-center">Thank You!!</h2>
        <h4 class="text-center">
        <strong>CINEMA-LOG</strong>へようこそ。<br>
        このサイトは、電子版の映画記録NOTEです。<br>
        あなた自身のの映画生活を日々記録しながら、<br>
        映画作品を選べる素敵なレビューサイトです。<br>
        一緒に、映画の海へ飛び込みましょう。
        <h4>
      </div>
    </div>

  <% if customer_signed_in? %>
    <div class="row mt-3">
      <div class="col-5"></div>
      <div class="col">
        <h2>IMPRESSION</h2>
      </div>
      <div class="col">
        <%= link_to "投稿する︎", new_impression_path, class: "btn badge-dark btn-md" %>
        <%= link_to "もっと観る▶︎▶︎", impressions_path, class: "btn badge-dark btn-md" %>
      </div>
      </div>

    <div class="row mt-4 justify-content-md-center">
      <% @impressions.each do |im| %>
        <div class="card text-white bg-dark mb-4 d-inline-block mx-3" style="max-width: 20rem;">
          <div class="card-header">投稿者id：<%= im.customer_id %></div>
            <div class="card-body">
              <h4 class="card-text text-warning">Best Movie!</h4>
              <p class="card-title bg-secondary"><%= im.best_movie.truncate(20) %></p>
              <h4 class="card-text text-warning">Impression!</h4>
              <p class="card-title bg-secondary"><%= im.recommend_movie.truncate(20) %></p>
            </div>
            <%= link_to "詳しくみる▶︎", impression_path(im), class: "btn badge-dark btn-md" %>
        </div>
      <% end %>
    </div>

    <div class="row mt-4 justify-content-md-center">
      <div class="col-4"></div>
      <div class="col">
        <h2 class="text-center">
        PICK UP NEWS
        </h2>
      </div>
      <div class="col">
        <%= link_to "もっと観る▶︎▶︎", messages_path, class: "btn badge-light btn-md" %>
      </div>
    </div>

    <div class="row mt-4 justify-content-md-center">
        <% @messages.each do |me| %>
          <div class="card text-dark bg-light mb-4 d-inline-block mx-3" style="max-width: 20rem;">
            <div class="card-header text-center text-primary">投稿日：<%= l me.created_at, format: :short %></div>
              <div class="card-body">
                <h4 class="card-title text-dark">タイトル</h4><%= strip_tags(me.title).truncate(20) %><p>
                  <h4 class="card-text">本文</h4><%= strip_tags(me.information).truncate(20) %><p>
              </div>
              <%= link_to "詳しくみる▶︎", message_path(me), class: "btn badge-light btn-md" %>
          </div>
        <% end %>
    </div>
    <% end %>