<%= flash[:notice] %>
<div class="container">
  <div class="row bg-gray">
    <div class="slider">
      <%= image_tag 'museum.jpg' %>
      <%= image_tag 'lady.jpg' %>
      <%= image_tag 'popcorn.jpg' %>
      <%= image_tag 'monoqro.jpg' %>
    </div>
  <div class="row">
    <div class="col">
       <h4>CINEMA-LOGへようこそ。<br>
       映画の海へ飛び込もう！このサイトは、電子版の映画ノートとして使えます。<br>
       自身の映画生活を記録しながら、映画作品を選べる素敵なレビューサイトです。<br>
       <h4>
    </div>
  </div>
  <h2 class="row">
   IMPRESSION ~みんなのおすすめ~
  </h2>
  <h2 class="row">
   PICK UP NEWS ~管理者より~
  </h2>
</div>
  <p>Find me in app/views/homes/top.html.erb</p>
  <%#= paginate @boards, theme: 'twitter-bootstrap-4' %>