<%= flash[:notice] %>
  <div class="container">

    <div class="row">
      <div class="slider">
        <%= image_tag 'museum.jpg'  %>
        <%= image_tag 'lady.jpg'    %>
        <%= image_tag 'popcorn.jpg' %>
        <%= image_tag 'monoqro.jpg' %>
      </div>
    </div>

    <div class="row mt-5 mx-auto">
      <div class="col">
        <h2 class="text-center">Thank You!!</h2>
        <h4 class="text-center">
        <strong>CINEMA-LOG</strong>へようこそ。<br>
        このサイトは、電子版の映画記録NOTEです。<br>
        あなた自身のの映画生活を日々記録しながら、<br>
        映画作品を選べる素敵なレビューサイトです。<br>
        一緒に、映画の海へ飛び込みましょう。
        <h4>
      </div>
    </div>

    <div class="row mt-4 justify-content-md-center">
      <h2 class="text-center">IMPRESSION</h2>
    </div>

    <div class="row mt-4 justify-content-md-center">
        <div class="card text-white bg-dark mb-4 d-inline-block mx-3" style="max-width: 20rem;">
          <div class="card-header">Customer1</div>
          <div class="card-body">
            <p class="card-text text-white">Best_Movie</p>
            <h4 class="card-title bg-secondary">Star Wars</h4>
            <p class="card-text text-white">Recommend_Movie</p>
            <h4 class="card-title bg-secondary">Disney ~美女と野獣~</h4>
          </div>
        </div>
        <div class="card text-white bg-dark mb-4 d-inline-block mx-3" style="max-width: 20rem;">
          <div class="card-header">Customer2</div>
          <div class="card-body">
            <p class="card-text text-white">Best_Movie</p>
            <h4 class="card-title bg-secondary">Star Wars</h4>
            <p class="card-text text-white">Recommend_Movie</p>
            <h4 class="card-title bg-secondary">Disney ~美女と野獣~</h4>
          </div>
        </div>
        <div class="card text-white bg-dark mb-4 d-inline-block mx-3" style="max-width: 20rem;">
          <div class="card-header">Customer3</div>
          <div class="card-body">
            <p class="card-text text-white">Best_Movie</p>
            <h4 class="card-title bg-secondary">Star Wars</h4>
            <p class="card-text text-white">Recommend_Movie</p>
            <h4 class="card-title bg-secondary">Disney ~美女と野獣~</h4>
          </div>
        </div>
      </div>
      <%#= paginate @boards, theme: 'twitter-bootstrap-4' %>


    <div class="row mt-4 justify-content-md-center">
      <h2 class="text-center">PICK UP NEWS</h2><span><%= link_to "過去の投稿＞＞", messages_path, class: "btn badge-light btn-md" %>
    </div>
    <div class="row mt-4 justify-content-md-center">
        <% @messages.each do |me| %>
          <div class="card text-dark bg-light mb-4 d-inline-block mx-3" style="max-width: 20rem;">
            <div class="card-header">投稿日：<%= me.created_at %></div>
              <div class="card-body">
                <h4 class="card-title text-dark">タイトル<br><%= strip_tags(me.title).truncate(20) %></h4>
                  <p class="card-text">本文<br><%= strip_tags(me.information).truncate(20) %></p>
                  <%= link_to "詳しくみる＞", message_path(me), class: "btn badge-light btn-md" %>
              </div>
          </div>
        <% end %>
    </div>

    <div class="mx-5">

    </div>

  </div>

  <%#= paginate @boards, theme: 'twitter-bootstrap-4' %>



<!--  <div class="row mt-4">-->
<!--    <%# @items.each do |t| %>-->
<!--      <div class="col-md-3">-->
<!--        <div class="card mb-4 shadow-sm">-->
<!--　　　　　<%#= image_tag t.get_profile_image(100,100), width: '100%', height: '80%' %><br>-->
<!--　　　　  <%# end %>-->
<!--          <div class="card-body">-->
<!--            商品名<%#= t.name %><p>-->
<!--            ￥<%#= t.price %>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    <%# end %>-->
<!--  </div>-->
<!--  </div>-->


<!--</div>-->
