<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <div class="row">
      <h2 class="pagetitle">
        <i class="fas fa-comments"></i><%= '  ' %>Comments List
      </h2>
    </div>
    <div class="row">
      <h4 class="text-white">登録している会員すべてのコメント一覧です。</h4>
    </div>
      <%= flash[:notice] %>
</nav>

    <div class="row mt-4 text-right">
      <div class="col-md-11">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1"></div>
        <div class="col-10">
          <table class="table table-bordered text-center table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th style="width: 50%">
                  <h4>
                    会員ID
                  </h4>
                </th>
                <th style="width: 50%">
                  <h4>
                    レビュー内容
                  </h4>
                </th>
              </tr>
            </thead>
           <% @reviews.each do |reviews| %>
            <tbody>
              <tr>
                <td>
                  <%= link_to reviews.customer_id, admin_customer_comments_path(reviews.customer_id), class:"table_link" %>
                </td>
                <td>
                  <%= reviews.comment %>
                </td>
              <tr>
            </tbody>
            <% end %>
          </table>
          <%= paginate @reviews %>
        </div>
      <div class="col-1"></div>
    </div>
  </div>