<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <div class="row">
      <h2 class="pagetitle"><i class="fas fa-users"></i><%= '  ' %>Customer List</h2>
    </div>
      <%= flash[:notice] %>
</nav>

    <div class="row mt-4 text-right">
      <div class="col-md-10">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ^
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-2"></div>
        <div class="col-8">
          <table class="table table-bordered text-center table-hover">
            <thead class="thead-dark">
              <tr>
                <th style="width: 25%"><h4>会員ID</h4></th>
                <th style="width: 25%"><h4>氏名</h4></th>
                <th style="width: 25%"><h4>メールアドレス</h4></th>
                <th style="width: 25%"><h4>メールアドレス</h4></th>

              </tr>
            </thead>
           <% @customers.each do |customers| %>
            <tbody>
              <tr>
                <td><%= link_to customers.created_at, admin_message_path(me.id) %></td>
                <td><%= customers.title %></td>
                <td><%= customers.information %></td>
              <tr>
            </tbody>
            <%# end %>
          </table>
        </div>
      <div class="col-2"></div>
    </div>

