<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <div class="row">
      <h2 class="pagetitle"><i class="fas fa-user"></i><%= '  ' %>Customer Show</h2>
    </div>
    <div class="row">
      <h4 class="text-white"><%= @customer.name %>さんの詳細です。</h4>
    </div>
      <%= flash[:notice] %>
</nav>

    <div class="row mt-4 text-right">
      <div class="col-md-11">
        <%= link_to "Customer Listへ", admin_customers_path, class: 'btn btn-dark btn-md' %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-6">
        <table class="table table-dark text-center mt-3">
          <thead class="text-left">
            <tr>
              <th>
                <h4>
                  氏名
                </h4>
              </th>
              <th>
                <h4>
                  <%= @customer.name %>
                </h4>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  フリガナ
                </h4>
              </th>
              <th>
                <h4>
                  <%= @customer.name_kana %>
                </h4>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  郵便番号
                </h4>
              </th>
              <th>
                <h4>
                  <%= @customer.postal_code %>
                </h4>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  住所
                </h4>
              </th>
              <th>
                <h4>
                  <%= @customer.address %>
                </h4>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  電話番号
                </h4>
              </th>
              <th>
                <h4>
                  <%= @customer.telephone_number %>
                </h4>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  メールアドレス
                </h4>
              </th>
              <th>
                <h4>
                  <%= @customer.email %>
                </h4>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  一番好きな映画
                </h4>
              </th>
              <th>
                <h4>
                  <%= @impression ? @impression.best_movie : "投稿はまだありません" %>
                </h4>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  オススメの理由
                </h4>
              </th>
              <th>
                <h4>
                  <%= @impression ? @impression.recommend_movie : "投稿はまだありません" %>
                </h4>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  <%= @customer.name %>さんの感想レビュー
                </h4>
              </th>
              <th>
                <h4>
                  <%= link_to "感想一覧へ", admin_customer_comments_path(@customer), class: 'btn btn-dark btn-lg' %>
                </h4>
              </th>
            </tr>
            <tr>
              <th>
                <h4>
                  ステータス
                </h4>
              </th>
              <th>
                <h4>
                  <% if @customer.is_deleted %>
                    <p class="text-danger">
                      <strong>
                        退会済み
                      </strong>
                    </p>
                  <% else %>
                    <p class="text-success">
                      <strong>
                        有効
                      </strong>
                    </p>
                  <% end %>
                </h4>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3"></div>
    </div>
  </div>