<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <h2 class="pagetitle"><i class="fas fa-pen-square"></i><%= '  ' %>Message edit</h2>
<%= flash[:notice] %>
</nav>

    <div class="row mt-5 justify-content-md-center">
      <div class="col-1"></div>
      <div class="col-3">
      <%= link_to "Message Showへ", admin_message_path(@message.id), class: "btn badge-dark btn-md" %>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-4">
        <%= form_with model: @message, url: admin_message_path(@message.id), method: :patch do |f| %>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th><h4>投稿日時</h4></th>
              <th><h4><%= @message.created_at %></h4></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><h4>タイトル</h4></th>
              <td><h4><%= f.text_field :title, size: "40x20"  %></h4></td>
            </tr>
            <tr>
              <th><h4>本文</h4></th>
              <td><h4><%= f.text_area :information, size: "40x20"  %></h4></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-5">
      </div>
    </div>

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
      <%= f.submit '変更を保存', class: "btn btn-success btn-md" %>
      <% end %>
      </div>
      <div class="col-4"></div>
    </div>
  </div>