<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <h2 class="pagetitle"><i class="fas fa-pen-square"></i>Message Create</h2>
<%= flash[:notice] %>
</nav>

      <div class="row mt-5">
        <div class="col-3"></div>
          <div class="col-3">
            <%= form_with model: @message, url: admin_messages_path, method: :post do |f| %>
            <h4>題名</h4><%= f.text_field :title, placeholder: "管理者より連絡", size: "40x20" %>
            <h4>本文<%= ' ' %></h4><%= f.text_area :information, placeholder: "新しい映画コンテンツが増えました！", size: "40x10" %><br>
            <%= f.submit '投稿', class: "btn btn-dark mb-3" %>
            <% end %>
          </div>
        <div class="col-4 mt-3">
        <%= image_tag 'message_new.jpg', size: "450x450" %>
        </div>
      </div>






<!--<%#= form_with model: Message, url: admin_message_index_path, method: :post do |f| %>-->
<!-- <table class="table table-borderless">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <td>商品画像</td>-->
<!--      <td> <%#= f.file_field :profile_image, placeholder: "選択されていません", accept: "image/*" %></td>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <td>商品名</td>-->
<!--      <td><%#= f.text_field :name, placeholder: "商品名"%></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>商品説明</td>-->
<!--      <td><%#= f.text_area :introduction, placeholder: "ここに説明文を記述します"%></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>ジャンル</td>-->
<!--      <td><%#= f.collection_select :genre_id, Genre.all, :id, :name %></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>税抜価格</td>-->
<!--      <td><%#= f.text_area :price, placeholder: "1000"%></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>販売ステータス</td>-->
<!--      <td><div class="販売ステータス">-->
<!--      <%#= f.label :販売ステータス %>-->
<!--      <%#= f.radio_button :done, true %>-->
<!--      <%#= f.label :is_active, '販売中', value: '販売中' %>-->
<!--      <%#= f.radio_button :done, false %>-->
<!--      <%#= f.label :is_active, '販売停止中', value: '販売停止中' %></div></td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--<%#= f.submit '新規登録', class: "btn btn-success mb-3" %>-->
<!--<%# end %>-->
<!--</div>-->