<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <h2 class="pagetitle">Message List</h2>
<%= flash[:notice] %>
</nav>

    <div class="row mt-4 text-right">
      <div class="col-md-10">
        <%= link_to new_admin_message_path, class: 'nav-link' do %>
          <h4><i class="fas fa-pen-square"></i>会員へ連絡する</h4>
        <% end %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-2"></div>
        <div class="col-8">
          <table class="table table-bordered text-center">
            <thead class="thead-dark">
              <tr>
                <th style="width: 15%"><h4>追加日時</h4></th>
                <th style="width: 15%"><h4>タイトル</h4></th>
                <th style="width: 60%"><h4>内容</h4></th>
                <th style="width: 10%"><h4>削除</h4></th>
              </tr>
            </thead>
           <% @messages.each do |me| %>
            <tbody>
              <tr>
                <td><%= link_to me.created_at, admin_message_path(me.id) %></td>
                <td><%= me.title %></td>
                <td><%= me.information %></td>
              <tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <div class="col-2"></div>
    </div>

