<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <div class="row">
      <h2 class="pagetitle"><i class="fas fa-rss"></i><%= '  ' %>Impression List</h2>
    </div>
    <div class="row">
      <h4 class="text-white">すべてのユーザーが "今" オススメしたい映画です。</h4>
    </div>
      <%= flash[:notice] %>
</nav>

    <div class="row mt-4 text-right">
      <div class="col-md-11">
        <%= link_to "新規投稿する", new_impression_path, class: 'btn btn-dark btn-md' %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-1"></div>
        <div class="col-10">
          <table class="table table-bordered text-center table-hover">
            <thead class="thead-dark">
              <tr>
                <th style="width: 15%"><h4>追加日時</h4></th>
                <th style="width: 15%"><h4>映画タイトル</h4></th>
                <th style="width: 70%"><h4>オススメした理由</h4></th>
              </tr>
            </thead>
           <% @impression.each do |im| %>
            <tbody>
              <tr>
                <td><%= l im.created_at, format: :short %></td>
                <td><%= im.best_movie %></td>
                <td><%= im.recommend_movie %></td>
              <tr>
            </tbody>
            <% end %>
          </table>
          <%= paginate @impression %>
        </div>
      <div class="col-1"></div>
    </div>