<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <h2 class="pagetitle"><i class="fas fa-rss"></i>Impression List</h2>
<%= flash[:notice] %>
</nav>

    <div class="row mt-4 text-right">
      <div class="col-md-10">
        <%= link_to new_impression_path, class: 'nav-link' do %>
          <h4><i class="fas fa-pen-square"></i>新規投稿する</h4>
        <% end %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-2"></div>
        <div class="col-8">
          <table class="table table-bordered text-center table-hover">
            <thead class="thead-dark">
              <tr>
                <th style="width: 15%"><h4>追加日時</h4></th>
                <th style="width: 15%"><h4>映画タイトル</h4></th>
                <th style="width: 70%"><h4>オススメした理由</h4></th>
              </tr>
            </thead>
           <% @impression.each do |im| %>
            <tbody>
              <tr>
                <td><%= l im.created_at, format: :short %></td>
                <td><h4><%= im.best_movie %></h4></td>
                <td><h4><%= im.recommend_movie %></h4></td>
              <tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <div class="col-2"></div>
    </div>