<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <h2 class="pagetitle"><i class="fas fa-pen-square"></i></h2>
<%= flash[:notice] %>
</nav>

<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <div class="row">
      <h2 class="pagetitle">
        <i class="fas fa-rss"></i><%= '  ' %>Impression show
      </h2>
    </div>
    <div class="row">
      <h4 class="text-white">ユーザー会員の。</h4>
    </div>
      <%= flash[:notice] %>
</nav>


    <div class="row mt-5">
        <div class="col-3"></div>
          <div class="col-3">
            <h4>投稿日：<%= @impression.created_at %></h4><br>
            <h4>映画：<%= @impression.best_movie %></h4><br>
            <h4>感想：<%= @impression.recommend_movie %><br>
          </div>
    </div>
    <div class="row mt-5">
      <div class="col-3"></div>
        <div class="col-3">
        <h4>
        <%= link_to "一覧へ", root_path, class: "btn badge-dark btn-md" %>
        <%= link_to "投稿する▶︎", new_impression_path, class: "btn badge-dark btn-md" %>
        </h4>
        </div>
    </div>
  </div>