<%= flash[:notice] %>
<nav class="navbar navbar-dark" style="background-color:#696969">
　<div class="container">
    <h2 class="pagetitle"><i class="fas fa-user-plus"></i>Sign Up</h2>
</nav>
  　<div class="row mt-4 justify-content-md-center">
        <%= form_with model: @customer, url: registration_path(resource_name) do |f| %>
        <%#= render "public/shared/error_messages", resource: resource %>
        <table class="table table-borderless text-center">
          <thead>
            <tr>
              <th><h4>名前</h4></th>
              <th><%= f.text_field :name, size: "30*30", autofocus: true, placeholder: "令和道子", autocomplete: "name" %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><h4>フリガナ</h4></th>
              <th><%= f.text_field :name_kana, size: "30*30", autofocus: true, placeholder: "レイワミチコ", autocomplete: "name_kana" %></th>
            </tr>
            <tr>
              <th><h4>メールアドレス</h4></th>
              <th><%= f.text_field :email, size: "30*30", autofocus: true, placeholder: "sample@example.com", autocomplete: "email" %></th>
            </tr>
            <tr>
              <th><h4>郵便番号（ハイフンなし）</h4></th>
              <th><%= f.text_field :postal_code, size: "30*30", placeholder: "1234567", autocomplete: "postal_code" %></th>
            </tr>
            <tr>
              <th><h4>住所</h4></th>
              <th><%= f.text_field :address, size: "30*30", placeholder: "東京都渋谷区代々木神園町0-0", autocomplete: "address" %></th>
            </tr>
            <tr>
              <th><h4>電話番号</h4></th>
              <th><%= f.telephone_field :telephone_number, size: "30*30", placeholder: "08012345678", autocomplete: "telephone_number" %></th>
            </tr>
            <tr>
              <th><h4>パスワード（６文字以上）</h4></th>
              <th><%= f.password_field :password, size: "30*30", autocomplete: "new-password" %></th>
            </tr>
            <tr>
              <th><h4>パスワード（確認用）</h4></th>
              <th><%= f.password_field :password_confirmation, size: "30*30", autocomplete: "new-password" %></th>
            </tr>
            <tr>
              <td>
                <%= f.submit "新規登録", class: "btn btn-dark" %>
              </td>
            </tr>
            <tr>
          </tbody>
        </table>
        <% end %>
    </div>
    <div class="row mt-4 justify-content-md-center">
      <h4>既に登録済みの方は<%= render "public/shared/links" %>からログインしてください。</h4>
    </div>
  </div>