<%= flash[:notice] %>
<nav class="navbar navbar-dark" style="background-color:#696969">
　<div class="container">
    <h2 class="pagetitle"><i class="fas fa-sign-in-alt"></i>Log In</h2>
</nav>
  　<div class="row mt-4 justify-content-md-center">
        <%= form_with model: @customer, url: session_path(resource_name) do |f| %>
        <table class="table table-borderless text-center">
          <thead>
            <tr>
              <th><h4>会員の方はこちらからログイン</h4></th>
              <th colspan="1"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><h4>メールアドレス</h4></th>
              <th><%= f.email_field :email, size: "30*30", autofocus: true, placeholder: "sample@example.com", autocomplete: "email" %></th>
            </tr>
            <tr>
              <th><h4>パスワード</h4></th>
              <th><%= f.password_field :password, size: "30*30", autocomplete: "current-password" %></th>
            </tr>
            <tr>
              <th><%= f.submit 'ログイン', class: "btn btn-dark mb-3" %></th>
              <th colspan="1"></th>
            </tr>
          </tbody>
        </table>
     </div>
    <% end %>
    <div class="row mt-4 justify-content-md-center">
      <h4>会員登録がお済みでない方は<%= render "public/shared/links" %>から新規登録を行ってください。</h4>
    </div>
  </div>
