<!DOCTYPE html>
<html>
  <head>
    <title>CINEMA-LOG</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!--スライドショー実装-->
  <body class="d-flex flex-column vh-100" style="background-color:#c0c0c0">
    <header class="shadow-sm">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.slider').bxSlider({
                auto: true,
                pause: 5000,
                //5秒スライドショー
            });s
        });
      </script>
        <nav class="navbar navbar-dark" style="background-color:#000000">
          <div class="container">
            <a class="navbar-brand p-1 text-white" href="/">
                <h2><span>C</span>INEMA-<span>L</span>OG</h2>
            </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">

　　　　　　　<!--会員ページ-->
              <% if customer_signed_in? %>
              <div class="cusotmer">
                <li>
                  <%= link_to customer_session_path(current_customer), class: 'nav-link text-white' do %>
                  <i class="fas fa-users"></i><%= "  " %><span>M</span>ypage ~マイページ~
                  <% end %>
                </li>
                <li>
                  <%= link_to movies_search_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-home"></i><%= "  " %><span>S</span>earch ~検索~
                  <% end %>
                </li>
                <li>
                  <%= link_to about_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-sign-out-alt"></i><%= "  " %><span>L</span>OG ~鑑賞した映画~
                  <% end %>
                </li>
                <li>
                  <%= link_to about_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-sign-out-alt"></i><%= "  " %><span>C</span>omment ~感想コメント~
                  <% end %>
                </li>
                <li>
                  <%= link_to about_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-sign-out-alt"></i><%= "  " %><span>f</span>avorite ~お気に入り~
                  <% end %>
                <li>
                  <%= link_to destroy_customer_session_path, class: 'nav-link text-white', method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i><%= "  " %><span>L</span>ogOut ~ログアウト~
                </li>
              <% end %>
              </div>

　　　　　　　<!--管理者ページ-->
              <% elsif admin_signed_in? %>
              <div class="admin">
                <li>
                  <%= link_to admin_root_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-rss"></i><%= "  " %><span>M</span>essage List
                  <% end %>
                </li>
                <li>
                  <%= link_to about_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-users"></i><%= "  " %><span>C</span>ustomer
                  <% end %>
                </li>
                <li>
                  <%= link_to about_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-comment"></i><%= "  " %><span>C</span>omment
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, class: 'nav-link text-white', method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i><%= "  " %><span>L</span>ogout
                  <% end %>
                </li>
              </div>
              <% else %>

　　　　　　<!--ゲストページ-->
            <div class="guest">
                <li>
                  <%= link_to about_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-film"></i><%= "  " %><span>A</span>bout
                  <% end %>
                </li>
                <li>
                  <%= link_to movies_search_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-eye"></i><%= "  " %><span>S</span>earch
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_registration_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-user-plus"></i><%= "  " %><span>S</span>ignUp
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-sign-in-alt"></i><%= "  " %><span>L</span>ogIn
                  <% end %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <main class="mb-auto">
      <div class="fixed-bottom" style="background-color:#000000">
        <div class="row bg-black">
          <footer class="mx-auto text-align:center text-white">
            CopyRight Infratop.inc
          <!--  <%#= image_tag 'app/assets/images/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg', width: '50%', height: '50%'  %>-->
          <!--<img src="app/assets/images/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg">-->
          </footer>

          </div>
      </div>
    <%= yield %>
    </main>
  </body>
</html>